.popup {
    margin: 0;
    background-color: #F4F4F4;
}

.containner-header {
    width: 100%;
    height: 84px;
    position: fixed;
    top: 0;
    left: 0;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #0A0A0A;
    z-index: 9999;
    border-bottom: 1px solid #D2D2D2;
}

.containner-content {
    padding: 0;
    height: calc(100vh - 9px);
    padding-top: 84px;
}

.alarm-item {
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-bottom: 17px;
    background: #fff;
    border-left: 5px solid;
    border-radius: 4px 0px 0px 4px;
}

.item-content {
    width: 100%;
    height: 73px;
    padding: 0px 20px 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item-value {
    font-size: 2.0rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.item-time {
    font-size: 1.4rem;
    color: #9A9A9A;
    margin-top: 5px;
}

.mCustomScrollBox {
    width: 100%;
}

.con-zc {
    border-color: rgba(255, 186, 0, 1);
}

.con-gj {
    border-color: rgba(255, 0, 0, 1);
}

.item-zc {
    color: rgba(255, 186, 0, 1);
}

.item-gj {
    color: rgba(255, 0, 0, 1);
}

.item-icon2 {
    cursor: pointer;
    font-size: 16px !important;
}

.child-alarms {
    font-size: 10px;
    color: #999999;
    line-height: 20px;
    font-size: 1.4rem;
}

.alarm-btns {
    width: calc(100% - 10px);
    height: 39px;
    display: flex;
    position: fixed;
    bottom: 10px;
    padding-left: 0;
}

.btn-gd {
    width: 100%;
    color: #3b7cbb;
    font-size: 12px;
    border: 1px solid rgba(13, 59, 104, 0.6);
    background-color: rgba(13, 59, 104, 0.6);
    letter-spacing: 2px;
}

.btn-gd:hover,
.btn-gd:focus,
.btn-gd:active {
    border: 1px solid #0d3b68;
    background-color: #0d3b68;
    color: #09daff
}

.btn-deal {
    width: 8.8rem;
    height: 3.2rem;
    background: #FF0000;
    border-radius: 4px;
    border: 1px solid #FF0000;
    letter-spacing: 2px;
}

.btn-sm.btn-deal {
    line-height: 14px;
}

.btn-deal:hover,
.btn-deal:focus,
.btn-deal:active {
    border: 1px solid #FF0000;
    background-color: #FF0000;
    color: #fff;
}

.deal-btns {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5px;
}

.alarm-text {
    width: 100%;
    margin-top: 5px;
}

.alarm-text textarea {
    outline: none;
    width: 100%;
    height: 60px;
    border: 0;
    color: black;
    resize: none;
    background: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 2px'

}


/* 暂无数据样式start */

.div-wushuju {
    height: 180px;
}

.div-wushuju .div-wu {
    text-align: center;
    position: relative;
    top: 60px;
}

.div-wushuju .div-wu p {
    margin-top: 12px;
    color: rgba(153, 153, 153, 1);
}

.alarm-content {
    height: 100%;
}


/* 暂无数据样式end */

.loadmore {
    background-color: #F5F5F5;
}

.swiper-container {
    background-color: #F5F5F5;
    font-size: 1.4rem;
}

.device-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #FFFFFF;
    margin-top: .2rem;
    font-size: 17px;
    color: #161616;
}

.device-top>div:nth-child(2) {
    color: #40ACFF;
    font-size: 14px;
}

.device-tab {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    border-bottom: .1rem solid white;
}

.device-tab>div {
    padding: 5px;
    font-size: 15px;
    color: #161616;
}

.click-tab {
    color: #0090FF !important;
    border-bottom: 2px solid #0090FF;
}

.bottom-open {
    position: fixed;
    width: 100%;
    height: calc(100% - 60px);
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.bottom-list {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
}

.bottom-list>div {
    width: 100%;
    height: 42px;
    line-height: 42px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 1.6rem;
    color: #161616;
    border-bottom: 1px solid #eeeeee;
}

.device-connect {
    margin: 10px 10px 0 10px;
}

.device-list {
    width: 100%;
    min-height: 65px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 4px 0 0 4px;
    border-left: 4px solid #40ACFF;
    padding: 10px 10px 0px 10px;
    position: relative;
    overflow: hidden;
}

.waring-min {
    width: 60px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF0000;
    color: white;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform-origin: right top;
    transform: rotate(-35deg);
}

.waring-min>span {
    transform: rotate(35deg);
    margin-bottom: 10px;
}

.device-list-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.device-list-top span {
    font-size: 18px;
    font-weight: bold;
}

.device-num {
    font-size: 14px;
    color: #9A9A9A;
    margin-top: 5px;
}

.icons {
    transition: all .2s linear;
    font-size: 19px !important;
}

.device-detail {
    font-size: 1.2rem;
    color: #151515;
    margin: 6px 0 30px 0;
}

.device-detail-connect .child-con {
    color: #161616;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 10px;
}

.waring-type {
    font-size: 15px;
    width: 100%;
    color: #FF2B2B !important;
    margin-bottom: 10px;
    background: #FFE1E1;
    min-height: 28px !important;
    line-height: 28px;
    border-radius: 5px;
    padding: 2px 0;
    margin: 15px 0 10px 0;
    text-align: center;
    font-weight: bold;
}

.device-detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.device-detail-item>div {
    padding: 6px 15px;
}

.device-detail-item>div {
    border-radius: 4px;
    background-color: #0090FF;
    color: white;
    font-size: 12px;
}

.device-type {
    font-size: 10px;
    align-self: flex-end;
}

.device-type {
    font-size: 12px;
}

.swiper-container-vertical>.swiper-scrollbar,
.swiper-scrollbar-drag {
    width: 0 !important;
}

.class1 {
    color: #FF0000;
}

.warning-div,
.params-div {
    display: flex;
    flex-direction: column;
}

.warning-div {
    background: #FFE1E1;
    padding: 5px;
    border-radius: 5px;
}

.params-div {
    background: rgba(56, 182, 255, 0.3);
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}