body {
    position: relative;
    top: 0;
    overflow: hidden;
}

html,
body,
#car-nav-tab,
#car-nav-tab li {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

body {
    background: rgba(0, 0, 0, 0.2);
    /* border:1px solid rgba(0,219,255,0.6); */
    border-bottom: 0;
}

#car-nav-tab li {
    display: inline-block;
    background: #f5f5f5;
    margin-right: -4px;
    padding: 5px 5px;
    cursor: default;
    width: 82px;
}

#car-nav-tab li.selected {
    background-color: rgba(0, 0, 0, 0);
    color: #44abd8;
}

.car-nav-tab-cont {
    display: none;
    font-size: 13px;
    position: absolute;
    left: 0px;
    right: 60px;
    top: 28px;
    bottom: 0px;
}

.car-nav-tab-cont table td {
    padding: 3px;
}

.car-nav-tab-cont table tr td:nth-child(1),
.car-nav-tab-cont table tr td:nth-child(3) {
    text-align: right;
    width: 70px;
}

.car-nav-tab-cont table tr td:nth-child(2),
.car-nav-tab-cont table tr td:nth-child(4) {
    width: 80px;
}

.car-nav-tab-cont.show {
    display: block;
}

.car-btn-popup {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.car-btn-popup button {
    border: none;
    background: #44abd8;
    color: white;
    border-radius: 3px;
    padding: 5px;
    outline: none;
    width: 70px;
}

.car-btn-popup button:hover {
    background: #288ebb;
}

.car-scroll {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 33px;
    overflow: hidden;
}

.bnt {
    font-family: "微软雅黑";
    font-size: 14px;
    border-radius: 5px;
    width: 80px;
}

.title {
    font-family: 微软雅黑;
    width: 100%;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background-color: rgba(0, 219, 255, 0.4);
    color: #fff;
    padding-top: 0px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #00DCFF;
    padding-left: 13px;
}

.content table {
    color: #00DCFF;
}


table {
    text-align: center;
    border-collapse: collapse;
    padding: 2px;
    font-family: 微软雅黑;
    font-size: 12px;
    color: #45eeff;
}



table tr {
    height: 35px;
    display: flex;
    align-items: center;
}

table td:first-child {
    text-align: left;
    padding-right: 10px;
    border: 1px solid rgba(2, 224, 246, 0.2);
    border-left: none;
    border-top: none;
    width: 130px;

}

table td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
    width: 220px;
    border: 1px solid rgba(2, 224, 246, 0.2);
    border-right: none;
    border-top: none;
}

.td-img {
    margin-right: 3px;
}

.context {
    padding: 5px;
    height: calc(100vh - 0px);
    overflow-y: auto;
    color: #00DBFF;
}

img {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}


/* tabs页样式 start */

li {
    list-style: none;
}

.scada-menu {
    width: 100%;
    width: 100%;
    height: 31px;
    display: flex;
    color: #fff;
    margin-top: 5px;
}

.nav-tabs {
    width: calc(100% - 10px);
    border-bottom: 0px;
    display: flex;
}

.scada-tabs .tab-pane {
    width: 100%;
    height: calc(100vh - 30px);
}

.scada-menu .nav-line {
    width: 5px;
    border-bottom: 1px solid #00DCFF;
}

.nav-tabs>li {
    flex: 1;
}

.nav-tabs>li>a {
    height: 31px;
    line-height: 31px;
    text-align: center;
    padding: 0;
    border-radius: 0;
    margin-right: 0;
    border: 0;
    border-bottom: 1px solid #00DCFF;
    color: #fff;
}

.nav-tabs>li>a:hover {
    border-color: #00DCFF;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #00DCFF;
    border-bottom: 0;
}

.scada-tabs iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.scada-containner {
    width: 100%;
    height: 100%;
    display: flex;
}

.scada-containner .content {
    width: calc(100% - 230px);
    height: calc(100vh - 10px);
    padding: 5px;
}

.table-head {
    color: #888888;
}

.table-head,
.table-head th,
table tr,
table td {
    border: 0;
    height: 40px;
}

.scada-left {
    width: 220px;
    height: 230px;
    margin: 15px 10px 0 15px;
    display: flex;
    flex-direction: column;
}

.scada-imgs {
    width: 100%;
    height: 170px;
    border: 1px solid #00DCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.scada-imgs img {
    width: 200px;
    height: 160px;
    cursor: pointer;
}

.scada-imgs-ld {
    width: 100%;
    height: 100%;
    border: 1px solid #00DCFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #00DCFF;
    font-size: 12px;
}

.scada-imgs-ld div {
    display: flex;
    justify-content: space-around;
}

.scada-imgs-ld div:nth-child(1) {
    border-bottom: 1px solid #00DCFF;
}

.scada-imgs-ld img {
    width: 213px;
    height: 110px;
    cursor: pointer;
}

.scada-btns {
    width: 100%;
    height: 45px;
    display: flex;
    /* padding-top: 30px; */
    justify-content: space-between;
    align-items: flex-end;
}

.scada-btns .btn-left {
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 8px;
    background-image: url('images/矩形\ 591.png');
    background-size: 100% 100%;
}

.scada-btns .btn-left.state-zx {
    border-color: #00FFB4;
    color: #03A9F4;
}

.scada-btns .btn-left.state-zx .left-dian {
    background-color: #03A9F4;
}

.scada-btns .btn-left.state-lx {
    border-color: #00DCFF;
    color: red;
}

.scada-btns .btn-left.state-lx .left-dian {
    background-color: red;
}

.scada-btns .left-dian {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.scada-btns .btn-mid {
    height: 29px;
    display: flex;
    position: absolute;
    left: 75px;
}

.scada-btns .btn-mid>div:nth-child(1) {
    width: 34px;
    height: 29px;
    background-image: url('images/矩形\ 590\ 拷贝 2.png');
    background-size: 100% 100%;
}

.scada-btns .btn-mid>div:nth-child(2) {
    width: 37px;
    height: 29px;
    background-image: url('images/矩形\ 590\ 拷贝.png');
    background-size: 100% 100%;
    position: absolute;
    left: 15px;
}

.scada-btns .btn-right {
    width: 118px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00DCFF;
    background-image: url('images/矩形\ 590.png');
    background-size: 100% 100%;
}

.scada-btns .btn-right icon {
    margin-right: 5px;
}


/* bootstrap-table样式 */

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th,
.fixed-table-container,
.bootstrap-table .table,
.bootstrap-table .table>thead>tr>th {
    border: 0;
    cursor: pointer;
}

.fixed-table-header {
    height: 30px;
}

.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
    color: #888888;
    font-weight: normal;
}

.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
    padding: 8px;
    line-height: 5px;
}

.fixed-table-loading {
    background-color: rgba(0, 0, 0, 0.6)
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover,
.pagination>li>a,
.pagination>li>span {
    background: rgba(72, 118, 142, 0.5);
    border-color: rgba(72, 118, 142, 0.5);
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background-color: #0090FF;
    border-color: #0090FF;
}

.fixed-table-pagination {
    padding: 0 5px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(22, 112, 124, 0.3);
}

.pagination-info {
    color: #00dcff;
}


/* tabs页样式 end */


/* 报警历史tip样式 */

.layui-layer-tips .layui-layer-content {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border: 1px solid #00DCFF;
    width: 200px;
    margin: 6px;
}

.layui-layer-tips i.layui-layer-TipsT {
    display: none;
}


/* 预加载 start */

.divwin-yjz {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    color: rgba(1, 233, 255, 0.8);
    z-index: 9999;
}

.divwin-yjz .yjz-loading {
    font-size: 28px;
    margin-bottom: 10px;
}

.divwin-yjz .yjz-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divwin-yjz p {
    letter-spacing: 3px;
    margin-left: 10px;
    font-size: 10px;
}


/* 预加载 end */

.table th {
    height: 35px !important;
    line-height: 35px !important;
}

.scada-btns .btn_right_fade {
    width: 118px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9E9E9E;
    background-image: url(images/矩形\ 590.png);
    background-size: 100% 100%;
}

.tohis {
    cursor: pointer;
}

table {
    width: 100%;
    /* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
    table-layout: fixed;
}

td {
    border: 1px solid black;
    /*超出部分隐藏*/
    overflow: hidden;
    /* 强制在同一行内显示所有文本，直到文本结束或者遭遇 br 对象。不换行 */
    word-break: break-word;
    /* 内容超出宽度时隐藏超出部分的内容 */
    /* white-space: nowrap; */
    /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
    /* text-overflow: ellipsis; */
}


/* .mars3d-popup-content{
    margin: 0 !important;
}

.dark .cesium-popup-color{
    color: #00DBFF;
}
.cesium-popup-close-button{
    top:3px !important;
    right:1px !important;
}
.dark .cesium-popup-background {
    background: rgba(0, 0, 0,0.6);
    border:1px solid rgba(0,219,255,0.6);
    z-index: -999;
}
  .cesium-popup-tip-container{
    top:-1px;
    z-index: 999;
}
        .cesium-popup-tip {
        border: 1px solid rgba(0,219,255,0.6) !important;
    z-index: 999;
    }
        .cesium-popup-content-wrapper {
padding:0 !important;
    } */

.btn-default {
    color: #76838f;
    background-color: #e4eaec00;
    border-color: #1d6a74;
}

/* 历史记录查询 */
.history_query {
    display: flex;
    margin-top: 10px;
}

.history_query>input {

    height: 25px;
    width: 24%;
    background-color: #0f1817;
    color: #fff;
    margin-right: 5px;

}

#btn_Search {
    height: 25px;
    font-size: 9px;
    line-height: 5px;
}

.lable {
    line-height: 25px;
    color: #fff;
    margin-right: 5px;
}

/* 子页滚动条 */
.context {
    overflow-x: hidden;
    overflow-y: auto;
}

.context::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: transparent;
}

.context::-webkit-scrollbar-track {
    border-radius: 2px;
}

.context::-webkit-scrollbar-thumb {
    height: 5px;
    background: transparent;
    border-radius: 10px;
}

.context::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/* echart样式 */
#echart_main>div:nth-child(3)>div:nth-child(2) {
    overflow-y: hidden !important;
}